.idea/*
*.swp
*.swo
*.pyc
*.sh
juanwolfs_blog/django-summernote/*
*.mo
reports/
virtualenv/
juanwolfs_blog/juanwolfs_blog/settings.ini
vendor/
.sass-cache/
node_modules/
main*.js
bower*.js
bower*.css
