# =================== Main dependencies =========================
Django==1.9.7                                   # Main Framework
djangorestframework==3.3.3                      # REST API Framework
psycopg2==2.6.2                                 # PostgreSQL support
Pillow==3.2

# ================  Additional dependencies ======================
django-modeltranslation==0.11                    # Multi field language support in DB
django-summernote==0.8.5                        # Wysiwig editor in admin section
feedparser==5.2.1                               # RSS feeds
django-jenkins==0.18                            # CI tools
coverage==4.1                                   # CI tools for analytics
django-debug-toolbar==1.4                       # Debug tool
django-filter==0.13                             # REST Filtering plugin
markdown==2.6.6                                 # REST API renderer
django-rest-swagger==0.3.7                      # REST API doc generator
