# =================== Main dependencies =========================
Django==1.11.2                                  # Main Framework
djangorestframework==3.6.3                      # REST API Framework
psycopg2==2.7.1                                 # PostgreSQL support
Pillow==4.1.1

# ================  Additional dependencies ======================
django-modeltranslation==0.12.1                 # Multi field language support in DB
django-summernote==0.8.7                        # Wysiwig editor in admin section
feedparser==5.2.1                               # RSS feeds
django-jenkins==0.110                           # CI tools
coverage==4.4.1                                 # CI tools for analytics
django-debug-toolbar==1.8                       # Debug tool
django-filter==1.0.1                            # REST Filtering plugin
markdown==2.6.7                                 # REST API renderer
django-rest-swagger==2.1.0                      # REST API doc generator
whitenoise==3.2.2                               # Serving Static files.
raven                                           # Sentry integration

# ======================  Testing ================================
freezegun==0.3.9
