{% extends "blogengine/includes/base_post.html" %}
{% block post_content %}
    <div class="post-content">
        {{ post.text | safe }}
    </div>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'juanwolfsblog'; // required: replace example with your forum shortname
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    {% load i18n %}
    <noscript>{% trans 'Please enable JavaScript to view the '%} <a href="http://disqus.com/?ref_noscript">{% trans 'comments powered by Disqus.' %}</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">{% trans 'comments powered by' %} <span class="logo-disqus">Disqus</span></a>
    {% if has_previous_post %}
    <a id="previous-article" href="{{previous_post.get_absolute_url}}">
        &lsaquo;&lsaquo; {% trans 'Previous article' %}:
        {{previous_post.title}}
    </a>
    {% endif %}
    {% if has_next_post %}
    <a id="next-article" href="{{next_post.get_absolute_url}}">
        {% trans 'Next article' %}:
        {{next_post.title}} &rsaquo;&rsaquo;
    </a>
    {% endif %}
{% endblock %}