<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html lang="{{ CURRENT_LANGUAGE }}">

  <head>
    <meta content="width=device-width, user-scalable=no" name="viewport">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" type="image/png" href="{% static "img/favicon.png" %}" />
    <link type="text/css" rel="stylesheet" href="{% static "stylesheets/stylesheet.css" %}" />

    <title>juanwolf.fr - {% trans "Jean-Loup Adde's website" %}</title>
    <meta name="description" content="{% trans "Jean-Loup Adde's personnal website. You can find his CV and his own blog (programming, video games). Awesome, isn't it?" %}">
    <meta name="keywords" content="Jean-Loup,Jean-Loup Adde,coding,programming,developer,web developer,devops,juanwolf,juan wolf,video games,blog,chat,CV,resume,adde,jenkins,java,python" />
    <meta name="author" content="Jean-Loup Adde"/>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@juan__wolf" />
    <meta name="twitter:creator" content="@juan__wolf" />
    <meta name="twitter:title" content="juanwolf.fr - {% trans "Jean-Loup Adde's website" %}" />
    <meta name="twitter:description" content="{% trans "Jean-Loup Adde's personnal website. You can find his CV and his own blog (programming, video games). Awesome, isn't it?" %}" />
    <meta name="twitter:image" content="https://juanwolf.fr/img/self-portrait-en.jpg" />
    <meta name="twitter:url" content="https://juanwolf.fr" />
    <meta name="og:url" content="https://juanwolf.fr" />
    <meta name="og:title" content="juanwolf.fr - {% trans "Jean-Loup Adde's website" %}"/>
    <meta name="og:image" content="https://juanwolf.fr/img/self-portrait-en.jpg"/>
    <meta name="og:description" content="{% trans "Jean-Loup Adde's personnal website. You can find his CV and his own blog (programming, video games). Awesome, isn't it?" %}"/>
    <meta name="og:locale" content="{{ CURRENT_LANGUAGE }}" />
    <meta name="og:author" content="Jean-Loup Adde" />
    <meta name="og:type" content="article" />
  </head>

  <body>
    <header>
      {% include "navbar.html" %}
    </header>
    <div id="container" class="container">
      <h1>{% trans "Welcome dear Websurfer !" %}</h1>
      {% url 'about' as about_url %}
      <p>{% blocktrans %}I'm Jean-Loup Adde, a {{ age }} year old software developer at <a href="http://www.claranet.co.uk">Claranet</a>.
      I have a crush on all the technologies around the web.
      That's why my website is kinda of a patchwork of technology.
      For example the chat section uses node.js (it's down for the moment for security issues), the blog section uses django, I'll not list them all.
      I really enjoyed making this website and I have written everything that I have used to make this website on the <a href="{{ about_url }}">'About' section</a>.
      If you are interested and have any questions about anything or just to say hi do not hesitate to send me a message or a little tweet, I will appreciate it!{% endblocktrans %}
      </p>
      <p>
      {% blocktrans %}This website is totally free and will never use adverts to make profits.
      If you want to contribute of the survey of this website, I created a <a target="_blank"href="https://flattr.com/submit/auto?user_id=juanwolf&url=https://juanwolf.fr/en/&title=juanwolf.fr&description=Jean-Loup Adde's website&language=en_GB&tags=programming&category=text">Flattr account</a>, but you can also participate giving me articles ideas or video games to try !{% endblocktrans %}
      </p>
      <p>
      {% trans "The chat is not available for the moment (coming soon, hopefully). Currently, on this (awesome) website, you will be able to find:" %}
      </p>
      <div id="site-sections">
        <ul>
          <li>
            <a id="blog-link" href="{% url "blog:index" %}">
              <span class="fa-stack fa-lg fa-5x">
                <i id="background-fa-blog" class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-comment-o fa-stack-1x"></i>
              </span>
              <p>{% trans "My blog" %}</p>
            </a>
          </li>
          <li>
            <a id="resume-link" href="{% url "resume" %}">
              <span class="fa-stack fa-lg fa-5x">
                <i id="background-fa-resume" class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-file-text-o fa-stack-1x"></i>
              </span>
              <p>{% trans "My resume" %}</p>
            </a>
          </li>
          <li>
            <a id="chat-link" href="https://chat.juanwolf.fr/">
              <span class="fa-stack fa-lg fa-5x">
                <i id="background-fa-send" class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-send fa-stack-1x"></i>
              </span>
              <p>Chat</p>
            </a>
          </li>
          <li>
            <a id="didit-link" href="http://ces.juanwolf.fr">
              <span class="fa-stack fa-lg fa-5x">
                <i id="background-fa-apps" class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-rocket fa-stack-1x"></i>
              </span>
              <p>CES 2015</p>
            </a>
          </li>
          <li></li>
        </ul>
      </div>
    </div>
    <footer>
      {% include "footer-section.html" %}
      <script src="{% static "js/main.min.js" %}"></script>
      <script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function () {
  var u = (("https:" == document.location.protocol) ? "https" : "http") + "://stats.juanwolf.fr/";
  _paq.push(['setTrackerUrl', u + 'piwik.php']);
  _paq.push(['setSiteId', 1]);
})();
      </script>
      <noscript>
        <p>
        <img src="https://stats.juanwolf.fr/piwik.php?idsite=1" style="border:0;" alt="" />
        </p>
      </noscript>
    </footer>
  </body>

</html>

