{% load i18n %}
<nav>
  <a id="brand" href="{% url "index" %}">juanwolf.fr</a>
  <ul id="menu-link-list" class="nav nav-pills nav-stacked">
    <li class="active">
      <a href="{% url "index" %}">
        <i class="fa fa-home fa-fw"></i>
        {% trans "Home" %}
      </a>
    </li>
    <li>
      <a href="{% url "blog:index" %}">
        <i class="fa fa-comment-o fa-fw"></i>
        Blog
      </a>
    </li>
    <li>
      <a href="{% url "resume" %}">
        <i class="fa fa-file-text-o fa-fw"></i>
        {% trans "Resume" %}
      </a>
    </li>
    <li>
      <a href="https://chat.juanwolf.fr">
        <i class="fa fa-send fa-fw"></i>
        Chat
      </a>
    </li>
    <li>
      <a href="https://ces.juanwolf.fr">
        <i class="fa fa-rocket fa-fw"></i>
        CES 2015
      </a>
    </li>
    <li id="language-selection-item">
      <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ language_redirection_url }}" />
        <select name="language" id="language-select-blog">
          {% for lang in LANGUAGES %}
          <option value="{{ lang.0 }}"
                  {% if LANGUAGE_CODE == lang.0  %}
                  selected="selected"
                  {% endif %}
                  >{{ lang.1 }}</option>
          {% endfor %}
        </select>
      </form>
    </li>
  </ul>
  <a id="menu-button">
    <i class="fa fa-bars fa-2x"></i>
  </a>
</nav>


