<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html lang="{{ CURRENT_LANGUAGE }}">

  <head>
    <meta content="width=device-width, user-scalable=no" name="viewport">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" type="image/png" href="{% static "img/favicon.png" %}" />
    <link type="text/css" rel="stylesheet" href="{% static "stylesheets/stylesheet.css" %}" />
    <title>juanwolf.fr - {% trans "Jean-Loup Adde's resume" %}</title>
    <meta name="description" content= "{% trans  "Hello, I am Jean-Loup Adde and I am a web / software developer. I am currently employed at Airinov as a django developer." %}">
    <meta name="keywords" content="Jean-Loup,Jean-Loup Adde,coding, programming, developer, web developer,devops,juanwolf, juan wolf, video games, blog, chat, CV, resume,adde, integrator, jenkins, java, python" />
    <meta name="author" content="Jean-Loup Adde"/>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@juan__wolf" />
    <meta name="twitter:creator" content="@juan__wolf" />
    <meta name="twitter:title" content="resume.juanwolf.fr - {% trans "Jean-Loup Adde's resume" %}" />
    <meta name="twitter:description" content="{% trans "Jean-Loup Adde's resume. Programming and Ops are my main skill." %}"/>
    <meta name="twitter:url" content="https://resume.juanwolf.fr" />
    <meta name="og:url" content="https://resume.juanwolf.fr" />
    <meta name="og:title" content="resume.juanwolf.fr - {% trans "Jean-Loup Adde's resume" %}"/>
    <meta name="og:description" content="{% trans "Jean-Loup Adde's resume. Programming and Ops are my main skill." %}" />
    <meta name="og:locale" content="{{ CURRENT_LANGUAGE }}" />
    <meta name="og:author" content="Jean-Loup Adde" />
    <meta name="og:type" content="article" />
  </head>

  <body>
    <header>
      {% url "resume" as resume_path %}
      {% include "navbar.html" with language_redirection_url=resume_path %}
    </header>
    <div id="container-resume" class="container">
      <div id="submenu">
        <ul>
          <li><a id="about-link" href="#about"><i class="fa fa-user"></i>{% trans "About me" %}</a>
          </li>
          <li><a id="atented-link" href="#atented"><i class="fa fa-graduation-cap"></i>{% trans "Education" %}</a>
          </li>
          <li><a id="experiences-link" href="#experiences"><i class="fa fa-group"></i>{% trans "Experience" %}</a>
          </li>
          <li><a id="projects-link" href="#projects"><i class="fa fa-coffee"></i>{% trans "Projects" %}</a>
          </li>
          <li><a id="skills-link" href="#skills"><i class="fa fa-wrench"></i>{% trans "Skills" %}</a>
          </li>
          <li><a id="languages-link" href="#languages"><i class="fa fa-comments"></i>{% trans "Languages" %}</a>
          </li>
          <li><a id="activities-link" href="#activities"><i class="fa fa-plus"></i>{% trans "Activities" %}</a>
          </li>
        </ul>
      </div>
      <div class="section full-section" id="about">
        <img src="{% static "img/self-portrait-en.jpg" %}" alt="{% trans "Jean-Loup giving an introduction of the django framework at Codeurs En Seine in Rouen." %}" />
        <div id="about-title">
          <h1 id="name-about">Jean-Loup Adde</h1>
          <h2 id="profession">{% trans "Software developer" %}</h2>
        </div>
        <p>
        {% blocktrans %}Hello, my name is Jean-Loup Adde and I am a {{ age }} year old System developer at Claranet. I love experimenting and using new technologies around software and web development. I'm quite a passionate to make life easier for users but aswell for developers and that's why I'm huge fan of continuous intgeration and automatization. You can contact me at
        <a href="mailto:juanwolf@juanwolf.fr">jean-loup.adde@juanwolf.fr</a>.{% endblocktrans %}
        </p>
      </div>
      <div class="section middle-section" id="atented">
        <h1><i class="fa fa-graduation-cap"></i> {% trans "Where have I studied ?" %}</h1>
        <ul>
          <li>
            <p class="subtitle">{% trans "Master degree in software development at the University of Rouen (2013-2015)" %}</p>
            <p class="subinformation">{% trans "Modules studied: C++, .NET, JEE, semantic web, web security, relational database, web languages 2 (XML and technologies around it), data mining and learning, projects management, code theory, UML, distributed computing." %}</p>
          </li>
          <li>
            <p class="subtitle">{% trans "Erasmus exchange at the University of Valladolid (Spain) (2013-2014)" %}</p>
            <p class="subinformation">{% trans "Modules studied: UML, software quality, android, projects management, parallel computing." %}</p>
          </li>
          <li>
            <p class="subtitle">{% trans "BSc degree in computer science at the University of Rouen (2010-2013)" %}</p>
            <p class="subinformation">{% trans "Modules studied: Web languages (XHTML, CSS, PHP, JS), MMI, OOP, network programming, system programming, algorithmic, infographism, languages theory, graph theory, databases administration, communication" %}</p>
          </li>
        </ul>
      </div>
      <div class="section middle-section" id="experiences">
        <h1><i class="fa fa-group"></i> {% trans "Where have I worked?" %}</h1>
        <ul>
          <li>
            <p class="subtitle">{% trans "Python / Django developer at Airinov" %}</p>
            <p class="information">
            {% trans "Developing on an existing application used by client to follow their orders. Developing an internal application to inspect multiple datas in the database and building a REST API." %}
            </p>
            <p class="subinformation">
            {% trans "Notions  viewed: Python 2.7, django, django rest framework, celery, factory-boy,  js, jQuery, bootstrap, AWS, PostgreSQL, git." %}
            </p>
          </li>
          <li>
            <p class="subtitle">{% trans "Software Developer internship at Masternaut" %}</p>
            <p class="information">{% trans "Creation of an application which is connected to an elasticsearch and create automatically scenarios (simulations) to test performances of an REST API.<br> Creation of functionnalities on an existing project written in groovy.<br>Creation of a service which replicate in real-time data from a MySQL database to an elasticsearch (python 3)." %}</p>
            <p class="subinformation">{% trans "Notion viewed: Scala, Gatling, Java 8, JUnit, Elasticsearch, Python, Jenkins, Sonar, Graphite, Grafana, Bash, Git, GitBlit" %}</p>
          </li>

          <li>
            <p class="subtitle">{% trans "Webmaster internship for the city of Rouen" %}</p>
            <p class="information">{% trans "Creation of a portail for 2013 summer manifestations at the city of Rouen. In charge of the front-end development of the portal and the content management with Drupal 6." %}</p>
            <p class="subinformation">{% trans "Notions viewed: PHP, CSS, HTML, SASS, unix system, web management, responsive web design, Drupal 6, Drupal theming, Git" %}</p>
          </li>
        </ul>
      </div>
      <div class="section full-section" id="projects">
        <h1><i class="fa fa-coffee"></i> {% trans "What have I made?" %}</h1>
        <div class="subsection">
          <h2>{% trans "Personal" %}</h2>
          <ul>
            <li>
              <p class="subtitle">juanwolf.fr <span class="link-repo">- <a target="_blank" href="https://gitlab.com/juanwolf/juanwolf.fr">code</a></span>
              </p>
              <p class="information">{% trans "My own website, <a href='https://juanwolf.fr'>juanwolf.fr</a>, where you currently find yourself and have the pleasure to browse. This project contains the resume, the portal, the responsive menu and the 404 page." %}</p>
              <p class="subinformation">{% trans "Technologies used: HTML5, CSS3, javascript, SASS, jQuery 1.11, Font Awesome, Responsive Web Design, Git" %}
              </p>
            </li>
            <li>
              <p class="subtitle">Git Hooks <span class="link-repo">- <a target="_blank" href="https://gitlab.com/juanwolf/git-hooks">code</a></span>
              </p>
              <p class="information">{% trans "Hooks for git to block every commit that doesn't match the standard choosed by the syntax requirements of the projects. Hooks are available for python with pep8 and for javascript with jshint." %}</p>
              <p class="subinformation">{% trans "Technologies used: Bash, git." %}</p>
            </li>
            <li>
              <p class="subtitle">{% trans "Language router" %} <span class="link-repo">- <a target="_blank" href="https://gitlab.com/juanwolf/language-router">code</a></span>
              </p>
              <p class="information">{% trans "Router created for the language switch and management for juanwolf.fr. The language management follows the W3C requirements (cookie and autodetection with the HTTP header)." %}</p>
              <p class="subinformation">{% trans "Technologies used: Golang, javascript, git" %}</p>
            </li>
            <li>
              <p class="subtitle">{% trans "juanwolf's blog" %} <span class="link-repo">- <a target="_blank" href="https://gitlab.com/juanwolf/juanwolfs-blog">code</a></span>
              </p>
              <p class="information">{% trans "A blog where I write my own technical reviews and video games articles." %}</p>
              <p class="subinformation">{% trans "Technologies used: Python, Django, PostgreSQL, HTML5, CSS3, SASS, jQuery 1.11, Git, Gatling, Jenkins, Travis, Gitlab CI, Grunt, Bower" %}</p>
            </li>
            <li>
              <p class="subtitle">{% trans "Juanwolf's chat" %} <span class="link-repo">- <a target="_blank" href="https://gitlab.com/juanwolf/juanwolfs-chat">code</a></span>
              </p>
              <p class="information">{% trans "A chat where you can talk with me (unbelievable I know)." %}</p>
              <p class="subinformation">{% trans "Technologies used: javascript, node.js, socket.io, nodemailer, express.js, HTML5, desktop notifications, CSS3, SASS, jQuery 1.11, git." %}
              </p>
            </li>

            <li>
              <p class="subtitle">{% trans "juanwolf's blog app" %} <span class="link-repo">- <a target="_blank" href="https://gitlab.com/juanwolf/blogapp">code</a> - <a target="_blank" href="https://play.google.com/store/apps/details?id=fr.juanwolf.blogapp"> Google Play</a> </span>
              </p>
              <p class="information">{% trans "A ionic 2 application retrieving informations from the REST API of the blog." %}</p>
              <p class="subinformation">{% trans "Technologies used: Ionic 2, AngularJS 2, SASS, CSS3, SASS, Git" %}</p>
            </li>
            <li>
              <p class="subtitle">
               {% trans "Blog application for <a href='http://www.codeursenseine.com/' target='_blank'>Codeurs En Seine 2015</a>" %} - <a href="https://github.com/juanwolf/ces2015-django">code</a>
              </p>
              <p class="information">
              {% trans "Little django application live coded during the presentation <a target='_blank' href='http://www.codeursenseine.com/2015/speakers.html#orateur-14' target='_blank'>'django introduction' in Codeurs En Seine 2015</a>" %}
              </p>
              <p class="subinformation">{% trans "Technologies used: HTML5, Bootstrap, git, django, reveal.js" %}</p>
            </li>
          </ul>
        </div>
        <div class="subsection">
          <h2>{% trans "University" %}</h2>
          <ul>
            <li>
              <p class="subtitle">{% trans "DRUMS - Discovery, Retrieval & Understanding of Music System" %} <span class="link-repo"></span></p>
              <p class="information">
              {% blocktrans %}Project joining together all the promotion (33 students) 2014/2015 of the GIL Master degree divided in 5/6 students team.
              I have been supervising two team. Before to start the project I gave a git formation to the promotion
              (<a href="http://blog.juanwolf.fr/media/Formation%20Git.pdf">slides in french</a>).
              During the project, I installed a whole software factory (Jenkins, Maven, Tomcat, Nexus, Apache).
              I developed a "Service Checker" for Tomcat to know the state of the different web services in the Tomcat developed with Valentin Jouanigot.
              I also developed few scripts to automatise the steps to pass the project to the production environment.
              I have been in charge of the servers and the production stability and I made a feedback article of the project <a href="https://blog.juanwolf.fr/programming/drums-my-sweet-regrets/" target="_blank">here</a>.
              {% endblocktrans %}
              </p>
              <p class="subinformation">{% trans "Technologies used: Jenkins, nexus, apache, tomcat 7, maven, spring, angular js, html5, css3." %}</p>
            </li>
            <li>
              <p class="subtitle">Agora <span class="link-repo"></span>
              </p>
              <p class="information">{% trans "A web platform for chessboard games. It was a six month project assigned as part of the project management module. I was given the task to develop the node.js module and administrate the distant server provided by the university. Role: System administrator and technical chief." %}</p>
              <p class="subinformation"> {% trans "Technologies used: code igniter, PHP 5, HTML5, CSS3, node.js, jQuery 1.9, bash" %}</p>
            </li>
            <li>
              <p class="subtitle">{% trans "Resume Manager REST Server" %} <span class="link-repo">- <a href="https://github.com/juanwolf/ResumeManagerRESTServer">code</a></span>
              </p>
              <p class="information">{% trans "A server that provides XML resumes. Based on a REST architecture, only the GET and PUT are implemented." %}</p>
              <p class="subinformation">{% trans "Technologies used: java 7, spring, git" %}</p>
            </li>
            <li>
              <p class="subtitle">SuperAddeRESTDroid <span class="link-repo">- <a href="https://github.com/juanwolf/superadderestdroid">code</a></span>
              </p>
              <p class="information">{% trans "A Phonegap application that uses the XML REST Server. Only the GET and PUT methods are implemented." %}</p>
              <p class="subinformation">{% trans "Technologies used: phonegap, HTML5, CSS3, jQuery 2.0, ajax, jQuery Mobile 1.4.2" %}</p>
            </li>
            <li>
              <p class="subtitle">Rush Hour</p>
              <p class="information">{% trans "A swing application about the rush hour game (<a href='https://www.jeu.fr/jeu/rush_hour_2' target='_blank'>A web version of the game</a>)." %}</p>
              <p class="subinformation">{% trans "Technologies used: swing, java 6" %}</p>
            </li>
            <li>
              <p class="subtitle">{% trans "Web calendar" %}</p>
              <p class="information">{% trans "A web application that gives the user the ability to manage events and customize their own calendar." %}</p>
              <p class="subinformation">{% trans "Technologies used: XHTML, CSS 2, javascript, PHP 5, MySQL, ajax, jQuery 1.9" %}</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="section full-section" id="skills">
        <h1><i class="fa fa-wrench"></i>  {% trans "What can I use ?" %} <span class="skill-info">{% trans "(Ranked by preference of what I enjoy using)" %}</span></h1>
        <ul>
          <li class="subsection">
            {% trans "Languages" %}
            <ul>
              <li>
                <p class="skill-title">Python</p>
                <ul class="skill-rank">
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                </ul>
              </li>
              <li>
                <p class="skill-title">Java</p>
                <ul class="skill-rank">
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                </ul>
              </li>

              <li>
                <p class="skill-title">Javascript</p>
                <ul class="skill-rank">
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                </ul>
              </li>
              <li>
                <p class="skill-title">TypeScript</p>
                <ul class="skill-rank">
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                </ul>
              </li>

              <li>
                <p class="skill-title">Go</p>
                <ul class="skill-rank">
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart-o"></i></li>
                </ul>
              </li>

              <li>
                <p class="skill-title">Bash</p>
                <ul class="skill-rank">
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart-o"></i></li>
                </ul>
              </li>

              <li>
                <p class="skill-title">CSS3</p>
                <ul class="skill-rank">
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart-o"></i></li>
                </ul>
              </li>

              <li>
                <p class="skill-title">HTML5</p>
                <ul class="skill-rank">
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart-o"></i></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="subsection">
            Frameworks
            <ul>
              <li>
                <p class="skill-title">Django</p>
                <ul class="skill-rank">
                  <li><i class="fa fa-heart"></i>
                  </li>
                  <li><i class="fa fa-heart"></i>
                  </li>
                  <li><i class="fa fa-heart"></i>
                  </li>
                  <li><i class="fa fa-heart"></i>
                  </li>
                  <li><i class="fa fa-heart"></i>
                  </li>
                </ul>
              </li>
              <li>
                <p class="skill-title">Gatling</p>
                <ul class="skill-rank">
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                </ul>
              </li>

              <li>
                <p class="skill-title">jQuery</p>
                <ul class="skill-rank">
                  <li><i class="fa fa-heart"></i>
                  </li>
                  <li><i class="fa fa-heart"></i>
                  </li>
                  <li><i class="fa fa-heart"></i>
                  </li>
                  <li><i class="fa fa-heart"></i>
                  </li>
                  <li><i class="fa fa-heart"></i>
                  </li>
                </ul>
              </li>
              <li>
                <p class="skill-title">SASS</p>
                <ul class="skill-rank">
                  <li><i class="fa fa-heart"></i>
                  </li>
                  <li><i class="fa fa-heart"></i>
                  </li>
                  <li><i class="fa fa-heart"></i>
                  </li>
                  <li><i class="fa fa-heart"></i>
                  </li>
                  <li><i class="fa fa-heart"></i>
                  </li>
                </ul>
              </li>
              <li>
                <p class="skill-title">Node.js</p>
                <ul class="skill-rank">
                  <li><i class="fa fa-heart"></i>
                  </li>
                  <li><i class="fa fa-heart"></i>
                  </li>
                  <li><i class="fa fa-heart"></i>
                  </li>
                  <li><i class="fa fa-heart"></i>
                  </li>
                  <li><i class="fa fa-heart-o"></i>
                  </li>
                </ul>
              </li>
              <li>
                <p class="skill-title">Spring</p>
                <ul class="skill-rank">
                  <li><i class="fa fa-heart"></i>
                  </li>
                  <li><i class="fa fa-heart"></i>
                  </li>
                  <li><i class="fa fa-heart"></i>
                  </li>
                  <li><i class="fa fa-heart"></i>
                  </li>
                  <li><i class="fa fa-heart-o"></i>
                  </li>
                </ul>
              </li>
              <li>
                <p class="skill-title">AngularJS</p>
                <ul class="skill-rank">
                  <li><i class="fa fa-heart"></i>
                  </li>
                  <li><i class="fa fa-heart"></i>
                  </li>
                  <li><i class="fa fa-heart"></i>
                  </li>
                  <li><i class="fa fa-heart"></i>
                  </li>
                  <li><i class="fa fa-heart-o"></i>
                  </li>
                </ul>
              </li>
              <li>
                <p class="skill-title">Bootstrap</p>
                <ul class="skill-rank">
                  <li><i class="fa fa-heart"></i>
                  </li>
                  <li><i class="fa fa-heart"></i>
                  </li>
                  <li><i class="fa fa-heart"></i>
                  </li>
                  <li><i class="fa fa-heart"></i>
                  </li>
                  <li><i class="fa fa-heart-o"></i>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="subsection">
            {% trans "Databases" %}
            <ul>
              <li>
                <p class="skill-title">PostgreSQL</p>
                <ul class="skill-rank">
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart-o"></i></li>
                </ul>
              </li>
              <li>
                <p class="skill-title">MongoDB</p>
                <ul class="skill-rank">
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart-o"></i></li>
                </ul>
              </li>
              <li>
                <p class="skill-title">MySQL</p>
                <ul class="skill-rank">
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart-o"></i></li>
                  <li><i class="fa fa-heart-o"></i></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="subsection">
            {% trans "Servers" %}
            <ul>
              <li>
                <p class="skill-title">Nginx</p>
                <ul class="skill-rank">
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                </ul>
              </li>
              <li>
                <p class="skill-title">Jenkins</p>
                <ul class="skill-rank">
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                </ul>
              </li>
              <li>
                <p class="skill-title">ElasticSearch</p>
                <ul class="skill-rank">
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="section middle-section" id="languages">
        <h1><i class="fa fa-comments"></i> {% trans "What languages can I speak?" %}</h1>
        <ul>
          <li>{% trans "French" %}
            <p class="subinformation">- {% trans "Native language" %}</p>
          </li>
          <li>{% trans "English" %}
            <p class="subinformation">- {% trans "Conversational and professionnal skills" %}</p>
          </li>
          <li>{% trans "Spanish" %}
            <p class="subinformation">- {% trans "Conversational and professionnal skills" %}</p>
          </li>
        </ul>
      </div>
      <div class="section middle-section" id="activities">
        <h1><i class="fa fa-plus"></i> {% trans "What do I enjoy doing?" %}</h1>
        <ul>
          <li>{% trans "Music (Guitar, Ukulele, MAO)" %}</li>
          <li>{% trans "Video games (RPG, FPS)" %}</li>
          <li>{% trans "Sport (Tennis, Football, Running 5k, 10k)" %}</li>
          <li>{% trans "Experimenting with and using new technologies" %}</li>
        </ul>
      </div>
    </div>
    <footer>
      {% include "footer-section.html" %}
      <script src="{% static "js/main.min.js" %}"></script>
      <script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function () {
  var u = (("https:" == document.location.protocol) ? "https" : "http") + "://stats.juanwolf.fr/";
  _paq.push(['setTrackerUrl', u + 'piwik.php']);
  _paq.push(['setSiteId', 1]);
})();
      </script>
      <noscript>
        <p>
        <img src="https://stats.juanwolf.fr/piwik.php?idsite=1" style="border:0;" alt="" />
        </p>
      </noscript>
      <script src="/js/lib/piwik.js"></script>
    </footer>
  </body>

</html>
