<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
  xmlns:xhtml="http://www.w3.org/1999/xhtml">
{% load i18n %}
{% for url in urlset %}

  <url>
    <loc>{{ url.location }}</loc>

    {% if url.lastmod %}<lastmod>{{ url.lastmod|date:"Y-m-d" }}</lastmod>{% endif %}
    {% if url.changefreq %}<changefreq>{{ url.changefreq }}</changefreq>{% endif %}
    {% if url.priority %}<priority>{{ url.priority }}</priority>{% endif %}
    {% language 'fr'%}
    <xhtml:link
        rel="alternate"
        hreflang="fr"
        href="{% url 'blog:post-detail' url.item.category.slug url.item.slug %}"
        />
    {% endlanguage %}
    {% language 'en'%}
    <xhtml:link
        rel="alternate"
        hreflang="en"
        href="{% url 'blog:post-detail' url.item.category.slug url.item.slug %}"
        />
    {% endlanguage %}
  </url>


{% endfor %}
</urlset>
