{%extends "includes/base_post.html" %}
    {% block post_content %}
    {% if post.image %}
    <div class="post-content-preview-with-img">
        {% load i18n %}
        <p class="post-content-preview-text">{{ post.get_introduction | safe | truncatewords_html:70 }}</p>
        <img class="post-content-preview-img" src="{{  MEDIA_URL }}{{ post.image.name }}" alt="{% trans "Preview Image for the article : " %} {{ post.title }}"/>
    </div>
    {% else %}
    <div class="post-content-preview">
        <p class="post-content-preview-text">{{ post.get_introduction | safe | truncatewords_html:100 }}</p>
    </div>
    {% endif %}
    {% load i18n %}
    <a href="{% url "post-detail" post.category.slug post.slug %}">{% trans "Read this post" %} &rsaquo;</a>
    {% endblock %}