{% extends "blogengine/includes/base.html" %}
   {% block language-redirection %}
        {% if LANGUAGE_CODE == "en" %}
            value={{ category.get_absolute_url_fr }}
        {% else %}
            value={{ category.get_absolute_url_en }}
        {% endif %}
    {% endblock %}
   {% block  content %}
   <h1> {{ category.name }} </h1>
   <p class="description category-desc"> {{ category.description}}</p>
   {% for post in post_list %}
        {% include "blogengine/post_preview_template.html" %}
   {% endfor %}

   {% endblock %}