{% extends "blogengine/includes/base.html" %}
   {% block language-redirection %}
        {% if LANGUAGE_CODE == "en" %}
            value={{ category.get_absolute_url_fr }}
        {% else %}
            value={{ category.get_absolute_url_en }}
        {% endif %}
    {% endblock %}
   {% block  content %}
   {% load i18n %}
   <h1> {{ category.name }} </h1>
   <p class="description category-desc"> {{ category.description}}</p>
   {% for post in post_list %}
        {% include "blogengine/post_preview_template.html" %}
   {% empty %}
        <p>{% trans "There's no post in this category for the moment" %} =(
            {% trans "All our engineers are working on it. We'll fix this problem soon." %}
        </p>
   {% endfor %}

   {% endblock %}