{% extends "blogengine/includes/base.html" %}
    {% block title %} {{ post.title }} -  {% endblock %}
    {% block language-redirection %}
        {% if get_current_language == "en" %}
            value={{ post.get_absolute_url_fr }}
        {% else %}
            value={{ post.get_absolute_url_en }}
        {% endif %}
{% endblock %}
    {% block content %}
        {% include "blogengine/includes/post_template.html" with post=post %}

        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'juanwolfsblog'; // required: replace example with your forum shortname
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        {% load i18n %}
        <noscript>{% trans 'Please enable JavaScript to view the '%} <a href="http://disqus.com/?ref_noscript">{% trans 'comments powered by Disqus.' %}</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">{% trans 'comments powered by' %} <span class="logo-disqus">Disqus</span></a>
{% endblock %}