{% extends "blogengine/includes/base.html" %}
    {% block content %}
        {% load i18n %}
        {% for post in post_list %}
        {% include 'blogengine/post_preview_template.html'  %}

        {% endfor %}
        {% if page_obj.has_previous %}
            <a href="/{{ page_obj.previous_page_number }}/">{% trans 'Previous Page' %}</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a href="/{{ page_obj.next_page_number }}/">{% trans 'Next Page' %}</a>
        {% endif %}
    {% endblock %}