{% extends "blogengine/includes/base.html" %}
    {% block content %}
        {% load i18n %}
        {% for post in post_list %}
        {% include 'blogengine/post_preview_template.html'  %}

        {% endfor %}
        <nav class="pagination">
        {% if page_obj.has_previous %}
            <a id="previous-page" href="/{{ page_obj.previous_page_number }}/">
                &lsaquo; {% trans 'Newer posts' %}
            </a>
        {% endif %}
        {% if page_obj.has_next %}
            <a id="next-page" href="/{{ page_obj.next_page_number }}/">
                {% trans 'Older posts' %} &rsaquo;
            </a>
        {% endif %}
        </nav>
    {% endblock %}