{%extends "blogengine/includes/base_post.html" %}
    {% block post_content %}
    {% if post.image %}
    <div class="post-content-preview-with-img">
        <p class="post-content-preview-text">{{ post.get_introduction | safe | truncatewords_html:70 }}</p>
        <img class="post-content-preview-img" src="{{  MEDIA_URL }}{{ post.image.name }}" />
    </div>
    {% else %}
    <div class="post-content-preview">
        <p class="post-content-preview-text">{{ post.get_introduction | safe | truncatewords_html:100 }}</p>
    </div>
    {% endif %}
    {% load i18n %}
    <a href="{{post.get_absolute_url}}">{% trans "Read this post" %} &rsaquo;</a>
    {% endblock %}