{% extends "blogengine/includes/base.html" %}
{% block title %} {{ post.title }} -  {% endblock %}
{% block language-redirection %}
    {% load i18n %}
    {% if LANGUAGE_CODE == "en" %}
        {% language 'fr' %}
        value={{ post.get_absolute_url }}
        {% endlanguage %}
    {% else %}
        {% language 'en' %}
        value={{ post.get_absolute_url }}
        {%  endlanguage %}
    {% endif %}
{% endblock %}
{% block head_block %}

{% endblock %}
{% block content %}
    {% include "blogengine/includes/post_template.html" %}
{% endblock %}