{% extends "blogengine/includes/base.html" %}
{% block language-redirection %}
{% if get_current_language == "en" %}
    value={{ tag.get_absolute_url_fr }}
{% else %}
    value={{ tag.get_absolute_url_en }}
{% endif %}
{% endblock %}
    {% block content %}
    {% load i18n %}
    <h1>{{ tag.name }}</h1>
    <p>{{ tag.description }}</p>
    {% for post in object_list %}
            {% include "blogengine/post_preview_template.html" %}
    {% empty %}
            <p> {% trans "There's no post for this tag for the moment" %} =(
                {% trans "All our engineers are working on it. We'll fix this problem soon." %}
            </p>
    {% endfor %}
    {% endblock %}
